In [1]:
import pandas as pd
import datetime as dt
import plotly.graph_objects as go
from technicals.indicators import RSI
from technicals.patterns import apply_patterns
from plotting import CandlePlot

In [2]:
import MetaTrader5 as mt5
from datetime import datetime
from getCandle import Rates

In [3]:
rates = Rates("EURUSD", 1000, mt5.TIMEFRAME_H1)
df_raw = rates.get_rates_from_now()
df_raw

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-01-19 07:00:00,1.07957,1.07980,1.07911,1.07915,3067,0,0
1,2023-01-19 08:00:00,1.07915,1.08032,1.07908,1.07910,3247,0,0
2,2023-01-19 09:00:00,1.07912,1.08140,1.07823,1.08080,8730,0,0
3,2023-01-19 10:00:00,1.08080,1.08249,1.08033,1.08168,9405,0,0
4,2023-01-19 11:00:00,1.08168,1.08294,1.08159,1.08247,6101,0,0
...,...,...,...,...,...,...,...,...
995,2023-03-17 18:00:00,1.06463,1.06756,1.06422,1.06673,10014,0,0
996,2023-03-17 19:00:00,1.06673,1.06750,1.06634,1.06729,6943,0,0
997,2023-03-17 20:00:00,1.06730,1.06852,1.06665,1.06805,6119,0,0
998,2023-03-17 21:00:00,1.06806,1.06828,1.06609,1.06613,5164,0,0
999,2023-03-17 22:00:00,1.06613,1.06654,1.06585,1.06654,1853,0,0